.category-card {
  cursor: pointer;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 0.2s ease-out;
}

.category-card:hover {
  transform: scale(1.05);
}

.category-name {
  font-weight: bold;
  font-size: 24px;
  color: #fff;
  text-shadow: 1px 1px #333;
}

.view-category-btn {
  width: 200px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
  background-color: #fff;
  color: #000;
  box-shadow: 1px 1px #333;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-out;
}

.view-category-btn:hover {
  background-color: #000;
  color: #fff;
  transform: scale(1.1);
}
