.shubh {
  background-color: rgb(251, 234, 75);
  text-align: center;
  color: rgb(224, 90, 90);
  block-size: 10npm;
  padding-top: 10npm;
}

.shubh1 {
  justify-content: flex-end;
  background-color: rgb(151, 232, 208);
}
.shubham2 {
  text-align: center;
}
.shubham3 {
  justify-content: flex end;
}
.head {
  justify-content: center;
  font-size: small;
  margin: 50px;
  padding-left: 10%;
}
.Container {
  justify-content: space-between;
}
