.carousel-item {
  height: 50vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  background-size: cover;
  position: relative;
}

.carousel-caption {
  bottom: 20%;
}

.carousel-caption h3 {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.carousel-caption p {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  .carousel-caption {
    bottom: 15%;
  }

  .carousel-caption h3 {
    font-size: 2rem;
  }

  .carousel-caption p {
    font-size: 1rem;
  }
}
